


html, body
	width 100%
	height 100%
	padding 0
	margin 0
	-webkit-font-smoothing antialiased

.dg
	opacity 0.8


h1
	font-family 'Lato', Helvetica, sans-serif
	color white
	text-align center
	font-size 1.6vw
	@media screen and (max-width: 1250px)
		font-size 2vw !important
	font-weight 700
	letter-spacing 0.01em
	span.key
		font-size 10vw
		letter-spacing 0.03em
		font-weight 900
		margin-top 20px
		line-height 1.45em
	span.sidenote
		font-weight 400
		font-size 1.4vw
		@media screen and (max-width: 1250px)
			font-size 1.6vw
	a
		color white
		-webkit-transition color 0.3s
		text-decoration none
		&:hover
			color black

.accept
	h1
		font-size 2.5vw

h2
	font-family 'Lato', Helvetica, sans-serif
	color white
	text-align center
	font-size 3.9vw
	@media screen and (max-width: 1250px)
		font-size 5.2vw
	font-weight 900
	letter-spacing 0.01em
	line-height 1.2em
	margin-bottom 70px
	margin-top -10px

p
	font-family 'Lato', Helvetica, sans-serif
	color white
	text-align left
	font-size 1.4vw
	@media screen and (max-width: 1250px)
		font-size 1.8vw
	font-weight 400
	line-height 1.35em
	span.key
		letter-spacing 0.02em
	b
		font-weight 700
	a
		color white
		-webkit-transition color 0.3s
		&:hover
			color black
	&#keyInAbout
		text-align center
		margin-top 60px
	&.hidden
		display none

.showAbout
	position absolute
	height 30px
	width 30px
	top 20px
	left 20px
	z-index 13
	cursor pointer
	backface-visibility hidden
	-webkit-transition -webkit-transform 0.28s
	-webkit-transition-timing-function easeOutQuad
	.flipContainer
		position absolute
		top 0
		left 0
		width 100%
		-webkit-backface-visibility hidden
		-webkit-transition -webkit-transform 0.28s
		-webkit-transition-timing-function easeOutQuad
		&#closeIcon
			-webkit-transform rotateY(180deg)
	img
		-webkit-transition -webkit-transform 0.28s
		-webkit-transition-timing-function easeOutQuad
	&:hover
		-webkit-transform scale(1.075)
	&.aboutOpen
		#aboutIcon
			-webkit-transform rotateY(180deg)
		#closeIcon
			-webkit-transform rotateY(360deg)

#share
	position absolute
	height 30px
	width 150px
	top 68px
	left 18px
	z-index 13
	cursor pointer
	#facebook, #twitter, #github
		-webkit-transition -webkit-transform 0.25s, opacity 0.2s
		-webkit-transition-timing-function easeOutQuad
		opacity 0
		z-index 14
		img
			-webkit-transform scale(0.95)
		&:hover
			img
				-webkit-transform scale(1.07)
	img
		-webkit-transition -webkit-transform 0.22s
		-webkit-transition-timing-function easeOutQuad
	&:hover
		img
			-webkit-transform scale(1.085)
	#facebook
		position absolute
		left 40px
		-webkit-transform translateX(-39px)
	#twitter
		position absolute
		left 81px
		-webkit-transform translateX(-80px)
		-webkit-transition-delay 0.11s
	#github
		position absolute
		left 120px
		-webkit-transform translateX(-120px)
		-webkit-transition-delay 0.22s
	&:hover
		#twitter, #facebook, #github
			-webkit-transform translateX(0)
			opacity 1


#about
	z-index 12
	background-color rgba(50, 50, 50, 0.75)
	-webkit-transition -webkit-transform 0.28s, background-color 0.3s
	-webkit-transition-timing-function easeOutQuad
	-webkit-animation aboutBounce 0.66s
	-webkit-animation-timing-function easeOutQuad
	-webkit-transform translateY(0)
	overflow hidden
	&.upAndAway
		-webkit-transform translateY(-102%)
		-webkit-animation none
	&.downAndOut
		-webkit-transform translateY(102%)
		-webkit-animation none
	&.hidden
		display none
	&.solidBackground
		background-color #09b35b !important


@-webkit-keyframes aboutBounce
	0%
		-webkit-transform translateY(-102%)
	40%
		-webkit-transform translateY(0)
	60%
		-webkit-transform translateY(-4.5%)
	76%
		-webkit-transform translateY(0)
	88%
		-webkit-transform translateY(-1%)
	100%
		-webkit-transform translateY(0)

#browserNotSupported
	z-index 20
	background-color #09b35b
	&.hidden
		display none

.valignOuter
	height 100%
	width 100%
	position absolute
	top 0
	left 0
	.valign
		height 100%
		width 100%
		position relative
		text-align center
		.valignWrap
			margin-top 25px
			display inline-block
			vertical-align middle
			width 50%
			@media screen and (max-width: 1250px)
				width 66% !important
	.valign:before
		content ''
		display inline-block
		height 100%
		vertical-align middle
		margin-top -50px
		margin-right -0.25em

		
#instructions, #keyboardOrIpad	
	z-index 11
	&.hidden
		display none
	.instruction, .choice
		float left
		-webkit-transition opacity 0.75s
		img
			display block
			width 66%
			margin auto

#keyboardOrIpad
	.choice
		width 50%
		cursor pointer
		-webkit-transform translateY(1px)
		-webkit-transition -webkit-transform 0.28s
		-webkit-transition-timing-function easeOutQuad
		&#keyboard
			-webkit-transition-delay 0.17s
		&.upAndAway
			-webkit-transform translateY(-102vh)
		&.downAndOut
			-webkit-transform translateY(102vh)
		img
			-webkit-transition -webkit-transform 0.15s
		&:hover
			img
				-webkit-transform scale(1.04)
.instruction
	width 33%
	&.hidden
		opacity 0
		-webkit-transition opacity 1s

#ipadInstructions
	z-index 10
	-webkit-transform translateY(1px)
	-webkit-transition -webkit-transform 0.28s, opacity 0.33s
	-webkit-transition-timing-function easeOutQuad
	&.hidden
		display none
	&.upAndAway
		-webkit-transform translateY(-102%)
	&.downAndOut
		-webkit-transform translateY(102%)
	&.faded
		opacity 0


.accept
	position absolute
	top -5px
	right 10px
	z-index 12
	-webkit-transition -webkit-transform 0.5s
	-webkit-transition-timing-function easeOutQuad
	-webkit-animation-delay 2.5s
	&.offRight
		-webkit-transform translateX(52vw)
	&.hidden
		display none
	&.offLeft
		-webkit-transform translateX(-102vw)
	&.flash
		-webkit-animation acceptFlash 2s infinite
		

#makeFullScreen
	position absolute
	bottom 17px
	left 17px
	width 33px
	text-align center
	z-index 12
	margin auto
	cursor pointer
	&.hidden
		display none
	img
		-webkit-transition -webkit-transform 0.28s
		-webkit-transition-timing-function easeOutQuad
	&:hover
		img
			-webkit-transform scale(1.075)


@-webkit-keyframes acceptFlash
	0%
		opacity 1
	50%
		opacity 0
	100%
		opacity 1

#magic
	width 100%
	height 100%
	background grey

#twoMagic
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	-webkit-transition -webkit-transform 0.2s
	&.squashX
		-webkit-transform scaleX(0)
	&.squashY
		-webkit-transform scaleY(0)

#foreground
	position absolute
	z-index 2

#middleground
	position absolute
	z-index 1

#illustrations
	display none

#text, #quotes
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 4
	#boom
		margin-left -1%
	span
		width 100%
		float left
		font-family 'Oswald', Helvetica, sans-serif
		font-weight bold
		text-transform uppercase
		font-size 66vh
		margin 0
		text-align center
		position absolute
		opacity 0
		display none
		z-index 5
		&.show
			opacity 1
			display inline

#illus
	position absolute
	z-index 4
	width 100%
	height 66vh
	margin-top 18vh
	text-align center
	img
		height 100%
		opacity 0
		display none
		&.show
			display inline
			opacity 1
		&#heart
			-webkit-transform translateY(2%)

#photo
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 3
	background-size cover
	background-position center
	opacity 0
	-webkit-transition opacity 0.5s
	&.show
		opacity 0.8

	@import 'gifs/angela.styl'
	@import 'gifs/obama.styl'
	@import 'gifs/queen.styl'
	@import 'gifs/charles.styl'
	@import 'gifs/dance_girl.styl'
